
    .espaco{
        position: absolute;
        width:70%;
        min-height: 74%;
        left: 25%;
        top: 22%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .redac{
        position: absolute;
        width:70%;
        height: 9%;
        left: 25%;
        top: 22%;
        background: #FF8041;
        border-radius: 20px 20px 0 0;
        z-index: 1;
        text-align: center;
    }
    .redac p{
        color: #ffffff;
        font-family: 'Dosis';
        font-weight: 700;
        font-size: 45px;
        margin-top: 0%;
        z-index: 1;

    }
    .opcao{
        font-family:'Dosis';
        font-size:20px;
        font-weight:bold;
        margin-left:1%;
        margin-top:7%;
        
        
      }
      .opcao a{
          text-decoration:none;
          color:black;
          padding-left: 2px;
          padding-right: 20px;
          font-size: 30px;
          line-height: 50px;

          
      }
      .opcao .destaque{
        margin-top: -3%;
        font-size: 30px;
        position: absolute;
        background-color: #FF8041;
        border-radius: 25px;
        color: #FFFFFF;
        width: 15%;
        text-align: center;
        padding-bottom: 3px;

      }
      
      a{
        width: 15%;
      }

      li .menu_lateral{
        margin-bottom: 4%;

      }

      .column {
        float: left;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Left and right column */
      .column.side {
        width: 25%;
      }
      


      a{
        text-decoration: none;
        color: black;
      }
    .espaco h3{
        font-family: 'Dosis';
        z-index: 1000;
        margin-top: 9%;
        margin-left: 3%;
        font-size: 25px;
        color: #00E265;
    }
    .espaco h4{
        font-family: 'Dosis';
        margin-left: 3%;
        margin-top: 5%;
        font-size: 20px;
    }
    .espaco a{
        font-size: 13px;
        margin-left: 2%;
    }
    .imagem{
        margin-top: 8%;
        margin-left: 2%;
        padding-bottom: 2%;
        max-height: 650px;
    }
    p{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    }
    #enviar{
        position: relative;
        background: #AEED41;
        font-family: Dosis;
        width: 8%;
        font-size: 25px;
        margin-left: 70%;
        font-weight: bold;
        padding-left: 9%;
        padding-right: 9%;
        padding-bottom: 0.8%;
        padding-top: 0.3%;
        border: 1px solid #AEED41;
        margin-bottom: 4%; 
        text-decoration:none;
        color: #000000;
        display: flex;
        margin-top: -6%;
        border-radius: 10px;
 
      }
      #proposta{
          color: #FF8041;
      }
      ol{
          background-color: #FF8041;
          width: 75%;
          margin-left: 8%;
          padding-right: 2%;
          padding-top: 0.2%;
          padding-bottom: 3%;
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          border-radius: 25px;
      }
      .instrucoes h4{
          margin-left: 40%;
          font-size: 25px;
      }